---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Yarden As 🎶',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Blog', href: '#blog' },
        { text: 'CV', href: '#CV' },
      ]}
      isSticky
      position="right"
    />
  </Fragment>
  <Hero image={{ src: '~/assets/images/hero.png', alt: 'Yasos!' }}>
    <Fragment slot="title"> Yarden As </Fragment>
    <Fragment slot="subtitle"> [ y ah r Den ] </Fragment>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <p>
        Welcome to my creative journey. My work is a testament to my commitment to bringing ideas to life, where each
        pixel becomes a brushstroke in the canvas of imagination.
      </p>
      <br />
      <p>
        I find inspiration in the world around me, whether through the pages of a captivating novel, the intricate
        details of typography, or the vibrant hues of nature during my outdoor escapades.
      </p>
    </Fragment>
  </Hero>
</Layout>
