---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <div class="w-1/2 md:w-full">
    <Hero image={{ src: '~/assets/images/hero.png', alt: 'Yasos!' }}>
      <Fragment slot="title"> Yarden As </Fragment>
      <Fragment slot="subtitle">
        <span
          >I am a loremo insdkfj kjsdf kjh sdfkh kdhfsdkfjshdfs d khfs skdjhfsdkfjhs s khs kfhdsf ksjhf skjdhfs ks
          hskdjhsdkfjhsdkfjhs ksjdf hsdkfjhsdkf hs kjhdsfksj</span
        >
      </Fragment>
      <Fragment slot="content">
        sdksdkhfsd fsdkjhsdkfjh s sdfkjshdf ksjhd sk jhskjh s ks hskj dhfksjhdf kjs hskjhskjfhsd kjfhs kjhs kjhs fkjhs
        kjshskhuiwehfiwnwk dkjfd
      </Fragment>
    </Hero>
  </div>
</Layout>
