---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Yarden As 🎶',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Blog', href: '#blog' },
        { text: 'CV', href: '#CV' },
      ]}
      isSticky
      position="right"
    />
  </Fragment>
  <Hero image={{ src: '~/assets/images/hero.png', alt: 'Yasos!' }}>
    <Fragment slot="title"> Yarden As </Fragment>
    <Fragment slot="subtitle"> [ y ah r Den ] </Fragment>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mt-6 mb-2">About me</h3>
      <p class="first-letter:text-5xl first-letter:font-bold first-letter:me-1 first-letter:float-start">
        <span class="after:content-['.'] font-bold">Academic</span> Asperiores voluptatibus quisquam et porro similique et
        tenetur rerum. Aut aliquid illum et veniam. Nam quae consequatur tempore error natus nihil non. Delectus quia ratione
        similique vel eos delectus odio. Debitis vel nemo cupiditate ducimus impedit non delectus. Rem in ullam est quia.
      </p>
      <br />
      <p class="first-letter:text-5xl first-letter:font-bold first-letter:me-1 first-letter:float-start">
        <span class="after:content-['.'] font-bold">Proffesional</span> great service experiences fast - without the complexity
        of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease,
        with a complete audit trail for every change.
      </p>
      <br />
      <p class="first-letter:text-5xl first-letter:font-bold first-letter:me-1 first-letter:float-start">
        <span class="after:content-['.'] font-bold">Personal</span> Proffesional great service experiences fast - without
        the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes
        with ease, with a complete audit trail for every change.
      </p>
    </Fragment>
  </Hero>
</Layout>
