---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import { getNews } from '~/utils/news';
const recentNews = await getNews();

const metadata = {
  title: 'Yarden As 🎶',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata} bg-color="--aw-color-bg-page">
  <Fragment slot="header"> </Fragment>
  <Hero image={{ src: '~/assets/images/hero-2025.png', alt: 'Yasos!' }}>
    <Fragment slot="title">
      <span class="font-mono">Yarden As</span>
    </Fragment>
    <Fragment slot="subtitle">
      <span class="font-mono">[ y ah r Den ]</span>
      <br /><span class="font-serif-heb text-2xl">ירדן</span>
    </Fragment>
    <Fragment slot="content">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12">
        <div class="space-y-4">
          <h3 class="text-2xl font-bold tracking-tight sm:text-3xl">About me</h3>
          <p class="text-sm">
            I am a roboticist, now pursuing a PhD in artificial intelligence and robotics, advised by <a
              href="https://las.inf.ethz.ch/krausea/"
              class="a-link"
              target="_blank">Andreas Krause</a
            >. My research focuses on online reinforcement learning, reinforcement learning under constraints and on
            exploration.
          </p>
          <p class="text-sm">
            Previously, I co-founded <a href="https://obol.app" class="a-link">Obol</a>, a Fintech startup, and worked
            as a principal robotics engineer at Temi. I hold a Master's degree in robotics from ETH Zürich and graduated
            summa cum laude from Technion.
          </p>
          <h3 class="text-2xl font-bold tracking-tight sm:text-3xl">Publications</h3>
          <p class="text-sm">
            A full list of my publications can be found <a
              href="https://scholar.google.com/citations?user=Z0qGI_kAAAAJ&hl=en"
              class="a-link">here</a
            >.
          </p>
          <h3 class="text-2xl font-bold tracking-tight sm:text-3xl">Reaching Out</h3>
          <ul class="list-disc list-inside text-sm leading-tight">
            <li>
              Email via yardas strudel ethz punkt ch
            </li>
            <li>
              <a href="https://twitter.com/yarden_as" class="a-link" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/yardenas/" class="a-link" target="_blank">Linkedin</a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-4">Recent News</h3>
          <ul class="space-y-3 text-sm">
            {
              recentNews.map((item) => (
                <li>
                  <span class="font-bold">
                    {item.publishDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}
                  </span>
                  <br />
                  {item.title}
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </Fragment>
  </Hero>
</Layout>

<style>
  * {
    font-family: var(--aw-font-mono);
  }
</style>
