---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import { headerData } from '~/navigation';
import { getNews } from '~/utils/news';
const recentNews = await getNews();

const metadata = {
  title: 'Yarden As 🎶',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata} bg-color="--aw-color-bg-page">
  <Fragment slot="header">
    <Header {...headerData} />
  </Fragment>
  <Hero image={{ src: '~/assets/images/hero.png', alt: 'Yasos!' }}>
    <Fragment slot="title">
      <span class="font-mono">Yarden As</span>
    </Fragment>
    <Fragment slot="subtitle">
      <span class="font-mono">[ y ah r Den ]</span>
      <br /><span class="font-serif-heb text-2xl">ירדן</span>
    </Fragment>
    <Fragment slot="content">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12">
        <div class="space-y-4">
          <h3 class="text-2xl font-bold tracking-tight sm:text-3xl">About me</h3>
          <p class="text-sm">
            I am a mechanical engineer turned roboticist, now pursuing a PhD in machine learning (“AI”) at the ETH AI
            Center and Learning and Adaptive Systems Group. My research focuses on safe reinforcement learning,
            uncertainty quantification, Bayesian Optimization, and Active Learning.
          </p>
          <p class="text-sm">
            Previously, I co-founded Obol, a Fintech startup, and worked as a principal robotics engineer at Temi. I
            hold a Master's degree in robotics from ETH Zürich and graduated summa cum laude from the Technion.
          </p>
          <p class="text-sm">
            Originally from Haifa, I've also lived in Tel-Aviv. I enjoy climbing, slacklining, music, food, wine and
            eastern philosophy.
          </p>
        </div>
        <div>
          <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-4">Recent News</h3>
          <ul class="space-y-3 text-sm">
            {
              recentNews.map((item) => (
                <li>
                  <span class="font-bold">
                    {item.publishDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}
                  </span>
                  <br />
                  {item.title}
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </Fragment>
  </Hero>
</Layout>

<style>
  * {
    font-family: var(--aw-font-mono);
  }
</style>
