---
import Layout from '~/layouts/PageLayout.astro';
import ThoughtList from '~/components/thoghts/ThoughtList.astro';
import Headline from '~/components/blog/Headline.astro';
import { getThoughts } from '~/utils/thoughts';

const thoughts = await getThoughts();

const metadata = {
  title: 'Stream of Thought',
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    type: 'blog',
  }
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline subtitle="Nothing formal, keep scrolling"> The Stream of Thought </Headline>
    <ThoughtList thoughts={thoughts} />
  </section>
</Layout>
